<% provide(:title, @user.name) %>
<div class="profile-wrap">
  <div class="row">
    <div class="col-md-4 text-center">
      <%= image_tag avatar_url(@user), class: "round-img" %>
    </div>
    <div class="col-md-8">
      <div class="row">
        <h1 class="my-4"><%= @user.name %></h1>
        <% if @user == current_user %>
          <%= link_to "プロフィールを編集", edit_user_registration_path, class: "btn btn-primary" %>
        <% end %>
      </div>
      <% if @user == current_user %>
        <div class="row my-4">
          <p>登録Eメール：<%= @user.email %></p>
        </div>
      <% end %>
      <div class="back-link">
        <%= link_to "一覧に戻る", users_path %>
      </div>
    </div>
  </div>
</div>
