<% @private_business_users.each do |private_business_user| %>
  <div class="container">
    <div class="card">
      <ul class="users">
        <li>
          <h3><%= private_business_user.name %></h3>
        </li>
      </ul>
      <div class="card-body">
        <div class="card-content">
          <div class="content">
            <div class="content average-score">
              <div class="star-rating">
                <div class="star-rating-front" style="width: <%= private_business_user.review_score_percentage %>%">★★★★★</div>
                <div class="star-rating-back">★★★★★</div>
              </div>
              <div class="average-score-display ml-3 pt-2">
                <%= private_business_user.avg_score %>点（<%= private_business_user.reviews.count %>件のレビュー）
              </div>
            </div>
          </div>
        </div>
        <div class="text-right">
          <%= link_to private_business_user_reviews_path(private_business_user), class: 'btn btn-primary btn-lg btn-block' do %>
            <i class="fas fa-angle-double-right"></i>レビューを見る
          <% end %>
          <%= link_to private_business_user_path(private_business_user), class: 'btn btn-primary btn-lg btn-block' do %>
            <i class="fas fa-angle-double-right"></i>レビューを投稿する
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="pagination justify-content-center my-5">
  <%= paginate @private_business_users %>
</div>
