<header class="sticky-top">
  <div class='headerSection'>
    <nav class="navbar navbar-expand-lg navbar-light py-2 mx-5">
      <%= link_to root_path do %>
        <%= image_tag "logo1.png", width: "200px", height: "80px" %>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item nav-link">
            <%= link_to 'DIGIHAIについて', static_pages_about_path, class: 'nav-link' %>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item nav-link">
              <%= link_to '配達員一覧', root_path, class: 'nav-link' %>
            </li>
            <li class="nav-item nav-link">
                <%= link_to 'アカウント', user_path(current_user), class: 'nav-link' %>
            </li>
            <li class="nav-item nav-link">
                <%= link_to '採用担当者一覧', users_path, class: 'nav-link' %>
            </li>
            <li class="nav-item nav-link">
              <%= link_to '募集中の求人', posts_path, class: 'nav-link' %>
            </li>
            <li class="nav-item nav-link">
                <%= link_to '求人を投稿', new_post_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item nav-link">
                <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link border rounded' do %>
                  ログアウト <i class="fas fa-sign-out-alt"></i>
                <% end %>
            </li>
          <% else %>
            <li class="nav-item nav-link">
              <%= link_to new_user_registration_path, class: 'nav-link' do %>
                <i class="fas fa-user-plus"></i> 新規登録
              <% end %>
            </li>
            <li class="nav-item nav-link">
              <%= link_to new_user_session_path, class: 'nav-link' do %>
                <i class="fas fa-sign-in-alt"></i> ログイン
              <% end %>
            </li>
            <li class="nav-item nav-link">
              <%= link_to users_guest_sign_in_path, method: :post, class: 'nav-link border rounded' do %>
                <i class="fas fa-user-check"></i> ゲストログイン
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
</header>
